body,div,ul,li{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style-type: none;
    background-color: #000;
}

*{box-sizing: border-box;}


.container{
    max-width: 1000px;
    margin: 0 auto;
}


.row{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}





.row .col-6 .textarea{
    resize: none;
    font-size: 1rem;
    padding: 1rem;
    outline: none;
    border: none;
    min-width: 35vw;
    min-height: 25vh;
    font-family: sans-serif;
    border-radius: 0.5rem;
    background-color: dodgerblue;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}


.row .word, .char{
    color: green;
    font-size: 2rem;
    display: block;
    text-align:center;
}
